<app-header></app-header>  

<div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="textoLogin">Visión</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="mision">
                    <p class="textoMision"> En MindFlow aspiramos a ser un referente en acompañamiento psicológico cercano y humano, donde la empatía, la escucha y el respeto guíen cada encuentro. Nuestra visión es contribuir a una cultura que valore la salud mental como parte esencial del bienestar integral, promoviendo relaciones auténticas y un apoyo profesional accesible y cálido en cada paso.
                    </p>
                </div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="imagenLog">
                <img class="imagenMision" src="./assets/imgVision.png" alt="Imagen Login">
                </div>
            </div>
        </div>
        

        </div>

    

<footer>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3">
                <h3 class="tituloFooter">Quiénes somos</h3>
                <p class="textoFooter"> Somos un equipo de profesionales comprometidos con la salud mental, que combina enfoques modernos y basados en evidencia con una mirada cercana y empática hacia quienes nos consultan.</p>
            </div>
            <div class="col-12 col-md-3">
                <h3 class="tituloFooter">Testimonios</h3>
                <p class="textoFooter"> "Llegué con ansiedad y mucha inseguridad, pero gracias al acompañamiento terapéutico aprendí a manejar mis emociones y recuperar la confianza en mí mismo. Hoy me siento más tranquilo y capaz de enfrentar los retos de la vida.".</p>
            </div>
            <div class="col-12 col-md-3">
                <h3 class="tituloFooter">Horarios</h3>
                <p class="textoFooter"> Horarios de atención</p>
                <ul class="horarios">
                    <li>Lunes a Viernes: 08:00 - 18:00</li>
                    <li>Sábado: 09:00 - 13:00</li>
                    <li>Domingo: Cerrado</li>
                </ul>
                <p>Atención presencial y virtual con cita previa.</p>
                 
                
            </div>
            <div class="col-12 col-md-3">
                <h3 class="tituloFooter">Siguenos en</h3>
                <div class="redes">
                    <ul>
                        <li><a href="https://www.instagram.com/" target="_blank" ><img class="iconRedes" src="./assets/iconRedes1.png" alt=""></a>Instagram</li>
                        <li><a href="https://www.facebook.com/" target="_blank" ><img class="iconRedes" src="./assets/iconRedes2.png" alt=""></a>Facebook</li>
                        <li><a href="https://x.com/" target="_blank"><img class="iconRedes" src="./assets/iconRedes3.png" alt=""></a>X</li>
                        <li><a href="https://www.youtube.com/" target="_blank"><img class="iconRedes" src="./assets/iconRedes4.png" alt=""></a>YouTube</li>
                        
                        
                    </ul>
                </div>                
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="copyRight"> © 2025 - Reservados todos los derechos - create with love by Doon.</p>
            </div>
        </div>
    </div>

<app-footer></app-footer>