<app-header></app-header>

<div class="container">
        <h1 class="tituloHome">MindFlow</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <p class="textoParrafo1">En MindFlow estamos comprometidos con brindar atención psicológica accesible y confiable. Nuestro objetivo es acompañar a las personas en el cuidado de su salud mental, ofreciendo un espacio seguro y confidencial donde puedan encontrar apoyo profesional, permitiendo que cada usuario se conecte con especialistas en bienestar emocional desde cualquier lugar.
                Es un espacio pensado para transmitir confianza y calidad, donde la empatía se convierte en el eje central de cada mensaje.
                Te invitamos a conocernos y conectar con un entorno pensado para escuchar, comprender y apoyar. MindFlow refleja cercanía y profesionalismo, transmitiendo un mensaje auténtico que inspira calma y proyecta un acompañamiento real en cada detalle.
                </p>
            </div>

            <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                <img class="imagenParrafo1" src="./assets/img1.png" alt="imagenParrafoHome" >
            </div>
        </div>
    </div>

    
    <div class="container">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img src="./assets/imgC1.png" class="d-block" alt="imagenC1">
                </div>
                <div class="carousel-item">
                <img src="./assets/imgC2.png" class="d-block" alt="imagenC2">
                </div>
                <div class="carousel-item">
                <img src="./assets/imgC3.png" class="d-block" alt="imagenC3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </div>

    
    <div class="container">
        <h1 class="tituloHome">Te apoyamos con:</h1>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3 col-lg-3">
                <div class="servicios">
                    <a routerLink="/patologias" fragment="ansiedad">
                        <img class="imagenServicio" src="./assets/iconS1.png" alt="imgServices">
                    </a>
                    <p class="textoServicio">Ansiedad</p>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
                <div class="servicios">
                    <a routerLink="/patologias" fragment="depresion">
                        <img class="imagenServicio" src="./assets/iconS2.png" alt="imgServices">
                    </a>
                    <p class="textoServicio">Depresión</p>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
                <div class="servicios">
                    <a routerLink="/patologias" fragment="estres">
                        <img class="imagenServicio" src="./assets/iconS3.png" alt="imgServices">
                    </a>
                    <p class="textoServicio"> Estres</p>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
                <div class="servicios">
                    <a routerLink="/patologias" fragment="dislexia">
                        <img class="imagenServicio" src="./assets/iconS4.png" alt="imgServices">
                    </a>
                    <p class="textoServicio"> Dislexia</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6 col-md-3 col-lg-3">
                <div class="servicios">
                    <a routerLink="/patologias" fragment="bloqueo">
                        <img class="imagenServicio" src="./assets/iconS5.png" alt="imgServices">
                    </a>
                    <p class="textoServicio">Bloqueo de aprendizaje</p>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
                <div class="servicios">
                    <a routerLink="/patologias" fragment="ataques">
                        <img class="imagenServicio" src="./assets/iconS6.png" alt="imgServices">
                    </a>
                    <p class="textoServicio">Ataques de pánico</p>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
                <div class="servicios">
                    <a routerLink="/patologias" fragment="concentracion">
                        <img class="imagenServicio" src="./assets/iconS7.png" alt="imgServices">
                    </a>
                    <p class="textoServicio">Problemas de concentración</p>
                </div>
            </div>
            <div class="col-6 col-md-3 col-lg-3">
                <div class="servicios">
                    <a routerLink="/patologias" fragment="duelos">
                        <img class="imagenServicio" src="./assets/iconS8.png" alt="imgServices">
                    </a>
                    <p class="textoServicio">Duelos</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="tituloHome">Nuestra metodología</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">

            <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                <img class="imagenParrafo1" src="./assets/img2.png" alt="imagenParrafoHome" >
            </div>

            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <p class="textoParrafo1">Nuestra terapia psicológica moderna se ha convertido en una herramienta eficiente y recomendada para quienes buscan bienestar emocional en un mundo cada vez más exigente. Basada en enfoques actualizados y respaldados por la ciencia, esta clase de acompañamiento ofrece estrategias prácticas y humanas que ayudan a comprender, gestionar y transformar las dificultades cotidianas. Con un estilo cercano y respetuoso, el proceso terapéutico fomenta la confianza, la seguridad y el crecimiento personal, creando un espacio donde cada persona puede sentirse escuchada y apoyada en su camino hacia una vida más plena.
                </p>
            </div>
        </div>
    </div>

 <!-- ---------------------------------------------SECCION DE PRODUCTOS ---------------------------------------- -->

    <!-- <section id="products">

        <div class="conrtainer">
            <div class="row">
                <ng-container *ngFor="let item of products">
                    <div class="itemProducts col-12 col-md-3" *ngIf="item.estado == 'activo'" [routerLink]="'/detalle'+item.nombre+'/'+item._id"  > 
                        <div class="product-card">
                        <div class="product-image">
                            <img [src]=" peticion.HostLocal + '/Products/'+item._id+'.png'" onerror="this.src='assets/default.png';" alt="{{item.nombre}}">
                        </div>

                        <div class="product-info">
                            <h2 class="product-name">{{item.nombre}}</h2>
                            <p class="product-price">{{item.precio | currency}} COP</p>
                            <p class="product-stock">Disponibles: {{item.cantidad | number}}</p>
                        </div>
                        </div>

                    </div>
                </ng-container> 

            </div>
        </div>

    </section> -->

<!-- ---------------------------------------------SECCION DE MARCAS ---------------------------------------- -->

    <section>

    <div class="titulo">
        Marcas aliadas
    </div>

        <div class="container">
            <div class=" row">
                <div class="itemMarca col-12 col-md-3" *ngFor="let item of marcas"  routerLink="{{item.destino}}">
                    <img alt="{{item.nombre}}" [src]=" peticion.HostLocal + '/Marcas/'+item._id+'.png'" onerror="this.src='assets/default.png';">

                </div>

            </div>

        </div>
    </section>

<app-footer></app-footer>