div#password {
  width: 375px;
  border: solid 1px #000;   
  background: #217156;      
  padding: 32px;
  color: white;
  border-radius: 13px;      
  margin-left: calc(50% - 187px); 
}

.areaTrabajo{
    height: calc(100vh - 75px);
    overflow-y: auto;
}

div#ventanaFlotante {
    background: #e3f0eb;
    height: 100vh;
    margin-left: 176px;
    position: absolute;
    border-radius: 22px;
    width: calc(100% - 178px);
    padding: 18px;
    top: 0px;
}