<app-header></app-header>

<div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="textoLogin">Misión</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-6">
                <div class="mision">
                    <p class="textoMision">En MindFlow trabajamos para hacer que el cuidado de la salud mental sea accesible, humano y cercano. Nuestra misión es ofrecer un espacio seguro donde cada persona pueda encontrar acompañamiento profesional confiable, guiado por la empatía y el respeto. Conectamos a los usuarios con especialistas en bienestar emocional desde cualquier lugar. 
                    </p>
                </div>
                
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="imagenLog">
                <img class="imagenMision" src="./assets/imgMision.png" alt="Imagen Login">
                </div>
            </div>
        </div>
        

</div>

    

<app-footer></app-footer>
