<app-header></app-header>
<div class="container">
        <h1 class="tituloHome" id="ansiedad">Ansiedad</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8 col-xl-9 ">
                <p class="textoParrafo1">La ansiedad se manifiesta como una sensación persistente de preocupación o inquietud que dificulta el bienestar diario. Sus síntomas más frecuentes incluyen nerviosismo, tensión muscular, pensamientos acelerados, dificultad para relajarse, irritabilidad y problemas para dormir..
                </p>
            </div>

            <div class="col-12 col-md-5 col-lg-4 col-xl-3 patologias">
                <img class="imgServicios" src="./assets/iconS1.png" alt="imgServices" >
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="tituloHome" style="text-align: right; padding-right: 1%;" id="depresion">Depresión</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">

            <div class="col-12 col-md-5 col-lg-4 col-xl-3 patologias">
                <img class="imgServicios" src="./assets/iconS2.png" alt="imgServices" >
            </div>

            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <p class="textoParrafo1">La depresión implica un estado emocional de tristeza profunda, pérdida de interés y disminución de energía que afecta la vida cotidiana. Entre sus síntomas destacan el desánimo constante, cambios en el apetito, fatiga, dificultad para concentrarse, alteraciones del sueño y sentimientos de vacío o desesperanza..
                </p>
            </div>

            
        </div>
    </div>
    <div class="container">
        <h1 class="tituloHome" id="estres">Estres</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <p class="textoParrafo1">El estrés aparece cuando las demandas del entorno superan los recursos personales para afrontarlas. Sus síntomas más comunes incluyen tensión física, dolores de cabeza, irritabilidad, agotamiento, dificultad para concentrarse, insomnio y sensación de estar sobrepasado.
                </p>
            </div>

            <div class="col-12 col-md-5 col-lg-4 col-xl-3 patologias">
                <img class="imgServicios" src="./assets/iconS3.png" alt="imgServices" >
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="tituloHome" style="text-align: right;padding-right: 1%;" id="dislexia" >Dislexia</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">

            <div class="col-12 col-md-5 col-lg-4 col-xl-3 patologias">
                <img class="imgServicios" src="./assets/iconS4.png" alt="imgServices" >
            </div>

            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <p class="textoParrafo1">La dislexia es una dificultad específica del aprendizaje que afecta la lectura y la comprensión escrita, sin relación con la inteligencia. Sus síntomas principales incluyen confusión de letras, lectura lenta, errores frecuentes al escribir, dificultad para seguir textos y problemas para recordar secuencias.
                </p>
            </div>

            
        </div>
    </div>

    <div class="container">
        <h1 class="tituloHome" id="bloqueo">Bloqueo de aprendizaje</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <p class="textoParrafo1">El bloqueo de aprendizaje ocurre cuando la persona siente que no puede avanzar o retener información, incluso con esfuerzo. Se manifiesta con frustración, dificultad para concentrarse, sensación de “mente en blanco”, baja motivación y problemas para organizar ideas o tareas.
                </p>
            </div>

            <div class="col-12 col-md-5 col-lg-4 col-xl-3 patologias">
                <img class="imgServicios" src="./assets/iconS5.png" alt="imgServices" >
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="tituloHome" style="text-align: right; padding-right: 1%;" id="ataques">Ataques de pánico</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">

            <div class="col-12 col-md-5 col-lg-4 col-xl-3 patologias">
                <img class="imgServicios" src="./assets/iconS6.png" alt="imgServices" >
            </div>

            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <p class="textoParrafo1">Los ataques de pánico son episodios repentinos de miedo intenso acompañados de síntomas físicos. Suelen incluir palpitaciones, dificultad para respirar, temblores, sudoración, mareo, sensación de pérdida de control y miedo a que algo grave esté ocurriendo.
                </p>
            </div>

            
        </div>
    </div>
    <div class="container">
        <h1 class="tituloHome" id="concentracion">Problemas de concentración</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">
            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <p class="textoParrafo1">Los problemas de concentración dificultan mantener la atención en tareas cotidianas. Entre sus síntomas se encuentran distracción constante, olvidos frecuentes, dificultad para organizar actividades, lentitud para procesar información y sensación de “desconexión”.
                </p>
            </div>

            <div class="col-12 col-md-5 col-lg-4 col-xl-3 patologias">
                <img class="imgServicios" src="./assets/iconS7.png" alt="imgServices" >
            </div>
        </div>
    </div>

    <div class="container">
        <h1 class="tituloHome" style="text-align: right; padding-right: 1%;" id="duelos">Duelos</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">

            <div class="col-12 col-md-5 col-lg-4 col-xl-3 patologias">
                <img class="imgServicios" src="./assets/iconS8.png" alt="imgServices" >
            </div>

            <div class="col-12 col-md-7 col-lg-8 col-xl-9">
                <p class="textoParrafo1">El duelo es un proceso emocional natural ante una pérdida significativa. Sus síntomas más comunes incluyen tristeza profunda, nostalgia, cambios en el sueño y el apetito, dificultad para concentrarse, irritabilidad, sensación de vacío y fluctuaciones emocionales.
                </p>
            </div>

            
        </div>
    </div>

    <app-footer></app-footer>
