<app-header></app-header>
<div class="container">
        <h1 class="tituloHome">MindFlow</h1>
    </div>

    <div class="container contenedorHome">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-5 col-xl-4">
                <div>
                    <h3><a href="mailto:mind@MindFlow.com">Correo:</a></h3>
                </div>
                <div class="cAtencion">
                    <img class="iconContacto" src="./assets/iconContacto1.png" alt="iconContacto1"><p class="datosContacto">mind&#64;indFlow.com</p>
                </div>
                <div>
                    <h3><a href="tel:+573211234567">Teléfono</a></h3>
                </div>
                <div class="cAtencion"> 
                    <img class="iconContacto" src="./assets/iconContacto2.png" alt="iconContacto2"><p class="datosContacto">(+57) 3211234567</p>
                </div>
                <div>
                    <h3><a href="https://wa.me/573111233211">WhatsApp:</a></h3>
                </div>
                <div class="cAtencion">
                    <img class="iconContacto" src="./assets/iconContacto3.png" alt="iconContacto3"><p class="datosContacto">(+57) 3111233211</p>
                </div>
                <div>
                    <h3><a href="https://maps.app.goo.gl/iAn4r9y68LaayqyH8" target="_blank">Ubicación:</a></h3>
                </div>
                <div class="cAtencion">
                    <img class="iconContacto" src="./assets/iconContacto4.png" alt="iconContacto4"><p class="datosContacto">Av.Palmacera  # 157-50</p>
                </div>
            </div>

            <div class="col-12 col-md-7 col-lg-7 col-xl-8">
                <div class="mapaUbicacion">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6687.681793173425!2d-74.04706584379916!3d4.679400354896376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sco!4v1765749859557!5m2!1ses-419!2sco"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>
        </div>
    </div>
<app-footer></app-footer>