
<app-menulateral></app-menulateral>
<div id="ventanaFlotante">
    <div class="titulo">
        Dashboard
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
            <div class="chart-container">
                <canvas id="mychart"></canvas>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-3">
            <div class="chart-container">
                <canvas id="totalchart"></canvas>
            </div>
        </div>
        
        

    </div>

    <div class="areaTrabajo"> </div>
</div>
